@model IEnumerable<EmplyeeDetail.Models.EmployeeDataModel>


  @{
      ViewData["Title"] = "Index";

   }    
<h2> Index </h2>   
 <p>        
     @Html.ActionLink("Create New", "Create")
  </p>   
 <table class="table">       
 <thead>         
       <tr>            
         <th>                   
            @Html.DisplayNameFor(model => model.FirstName)        
           
         </th> 
                      
         <th> 
            @Html.DisplayNameFor(model => model.LastName)      
         </th> 
                        
         <th>                   
            @Html.DisplayNameFor(model => model.Gender)      
         </th>        
         
         <th>                  
             @Html.DisplayNameFor(model => model.HiredDate)   
        </th>          
        
        <th>
            @Html.DisplayNameFor(model => model.Salary)        
        </th>         
        </tr>     
 </thead>   
   
  <tbody>         
       @foreach(var item in Model)
       {
     <tr>                   
     <td>
     @Html.DisplayFor(modelItem => item.FirstName)
     </td>    
      
      <td>
      @Html.DisplayFor(modelItem => item.LastName)
      </td>  
                    
      <td> 
      @Html.DisplayFor(modelItem => item.Gender)
     </td> 
                        
     <td> 
      @Html.DisplayFor(modelItem => item.HiredDate)
     </td>          
             
     <td> 
    @Html.DisplayFor(modelItem => item.Salary)
     </td>             
           
      <td>                      
          @Html.ActionLink("Edit", "Edit", new { id = item.EmployeelD }) |           
          <a asp - action = "Details" asp-route-id= "@item.EmployeelD"> Details </a> | 
          <a asp - action = "Delete" asp-route-id="@item.EmployeelD"> Delete </a> 
      </td>    
               
</tr>     

       }        
    </tbody>   
 </table>

